<div id="election-history-container">
    <h1>Historial</h1>
    {%if history|length == 0 %} 
        <p>No hay entradas en su historial</p>
    {% else %}
        <div id="election-history-list">
            {% for election in history %}               
                <div class="election-card">
                    <a class="election-card-header" href="/results/{{ election.id }}">
                        Elección {{forloop.counter}}
                    </a>
                    <div class="election-card-body">
                        <span class="election-card-date">
                            <b>Fecha:</b> {{election.date}}
                        </span>
                        <span class="election-card-type">
                                <b>Tipo:</b> {{election.type}}
                        </span>
                    </div>                    
                </div>               
            {% endfor %}
        </div>
    {% endif %}
</div>
