<div id="election-builder">
        <div id="election" class="election-data-container">
            <ul>            
                <li>
                    <label for="election-date"><b>Fecha de las elecciones:</b> </label>
                    <input id="election-date" type="date" value="2020-01-01">
                </li>
                <li>
                <label for="election-type"><b>Tipo de elecciones:</b> </label>
                    <select id="election-type">
                        <option value="local">Municipal</option>
                        <option value="regional">Autonómica</option>
                        <option value="congress">Congreso</option>
                    </select>
                </li>
                <li>
                    <label for="election-threshold"><b>Umbral mínimo de representación:</b> </label>
                    <input value="{{ min_votes }}" type="number" id="election-threshold" min="0.0" max="1.0" step="0.01">
                </li>
                <li>
                    <p id="election-data-error" class="error"></p>
                </li>
            </ul>
        </div>
        <div id="districts">
            <div class="button-centering">
                <button id="new-district" class="base_button light_blue">Nueva circunscripción</button>
            </div>
            
            <dialog id="dialog-district" class="democracy-dialog">
                <div class="democracy-dialog-content">
                    <div>
                        <label for="district-name">Nombre: </label>
                        <input type="text" id="district-name">
                    </div>
                    <div>
                        <label for="district-voters">Censo: </label>
                        <input type="number" id="district-voters" min="1">
                    </div>
                    <div>
                        <label for="district-representatives">Escaños: </label>
                        <input type="number" id="district-representatives" min="1">
                    </div>
                    <div>
                        <label for="district-blank">Votos en blanco: </label>
                        <input type="number" id="district-blank" min="0">
                    </div>
                    <div>
                        <label for="district-divl">Votos nulos: </label>
                        <input type="number" id="district-null" min="0">
                    </div>
                    <div>
                        <p id="dialog-district-error" class="error"></p>
                    </div>
                    <div class="button-centering">
                            <button id="cancel-district" class="base_button orange" >Cancelar</button>
                            <button id="add-district" class="base_button dark_blue" disabled>Añadir</button>
                    </div>
                </div>
               
            </dialog>
            <div  id="district-table" class="democracy-table-container">
                    <table id="district-inside-table"></table>
            </div>
        </div>
        <div id="candidatures">
            <div class="button-centering">
                <h2 id="showing-district-name"></h2>
            </div>
            <div class="button-centering">
                <button id="new-candidature"  class="base_button light_blue">Nueva candidatura</button>
            </div>
            <dialog id="dialog-candidature" class="democracy-dialog">                
                <div class="democracy-dialog-content">
                    <div>
                        <label for="candidature-name">Nombre: </label>
                        <input type="text" id="candidature-name">
                    </div>
                    <div>
                        <label for="candidature-abbrv">Abreviatura: </label>
                        <input type="text" id="candidature-abbrv">
                    </div>
                    <div>
                        <label for="candidature-votes">Votos: </label>
                        <input type="number" id="candidature-votes" min="0">
                    </div>
                    <div>
                        <p id="dialog-candidature-error" class="error"></p>
                    </div>
                    <div class="button-centering">
                        <button id="cancel-candidature" class="base_button orange" >Cancelar</button>
                        <button id="add-candidature" class="base_button dark_blue" disabled>Añadir</button>
                    </div>
                </div>               
            </dialog>
            <div id="candidature-table" class="democracy-table-container">
                    <table id="candidature-inside-table" ></table>
            </div>
        </div>
        <div class="button-centering">
            <button id="export" class="base_button orange">Exportar datos</button>
            <button id="calculate" class="base_button orange" disabled>Calcular</button>
            <button id="load" class="base_button orange">Cargar fichero</button>
        </div>
        <dialog id="load-dialog" class="democracy-dialog">
            <form enctype="multipart/form-data" method="POST" action="/">
                {% csrf_token %}
                <input type="file" name="file" id="file">
                <input type="hidden" name="method" value="form">
                <br>
                <div class="button-centering">
                    <button id="cancel-load" class="base_button orange" >Cancelar</button>
                    <input class="base_button dark_blue" type="submit" value="Subir fichero">
                </div>                    
            </form>
        </dialog>
    </div>